<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" href="gfx/favicon.ico" />
    <script src="/reload/reload.js"></script>
    <script type="module" src="/js/components.js"></script>
</head>

<body>
    <div class="page-layout">
        <app-header></app-header>

        <main class="site-main">
            <div class="content">
                {{{body}}}
            </div>
        </main>

        <app-footer></app-footer>
    </div>

    <app-route-view></app-route-view>
</body>

</html>