<app-card name="congregation">
  <span slot="card-header-slot">Menighed</span>
  <span slot="card-content-slot">
    Information om menigheden er ikke udfyldt endnu
  </span>
</app-card>
<app-card name="elder-coordinator">
  <span slot="card-header-slot">Koordinator for ældsterådet</span>
  <span slot="card-content-slot">
    Information om koordinator for ældsterådet er ikke udfyldt endnu
  </span>
</app-card>
<app-card name="talk-coordinator">
  <span slot="card-header-slot">Foredragskoordinator</span>
  <span slot="card-content-slot">
    Information om foredragskoordinator er ikke udfyldt endnu
  </span>
</app-card>
<app-card name="speakers">
  <span slot="card-header-slot">Foredragsholdere</span>
  <span slot="card-content-slot">
    Der er ikke tilføjet nogen foredragsholdere endnu
{{!-- 
    <app-card-section>Foredragsholder 1</app-card-section>
    <app-card-section>Foredragsholder 2</app-card-section> --}}
  </span>
</app-card>
