<app-modal name="edit-congregation" backdrop-close>
  <span slot="title">Redigér menighed</span>
  
  <app-form-text id="congregation-official-name-form-text" input-id="congregation-official-name" label="Menighedsnavn" placeholder="Bjergkøbing Vestbyen" required></app-form-text>
  <app-form-text id="congregation-nick-name-form-text" input-id="congregation-nick-name" label="Kaldenavn" placeholder="Vestbyen"></app-form-text>
  <app-form-text id="congregation-address-form-text" input-id="congregation-address" label="Adresse" placeholder="Tempovej 3, 1234 Bjergkøbing" required></app-form-text>
  <app-form-text id="congregation-circuit-form-text" input-id="congregation-circuit" label="Kreds" placeholder="DKS03" required></app-form-text>
  <app-rich-select name="weekday" placeholder="Vælg ugedag" no-result-text="Ingen resultater">
    <option value="1">Mandag</option>
    <option value="2">Tirsdag</option>
    <option value="3">Onsdag</option>
    <option value="4">Torsdag</option>
    <option value="5">Fredag</option>
    <option value="6">Lørdag</option>
    <option value="7">Søndag</option>
  </app-rich-select>
  <app-form-time-picker
    id="congregation-meeting-time-form-time-picker"
    input-id="congregation-meeting-time"
    name="startTime"
    label="Mødetidspunkt"
    value="10:30"
    step="5"
    use-native="auto"
    required
 >
  </app-form-time-picker>
  <app-button slot="actions" name="cancel-button" onclickeventname="editcongregation:modalcancelbutton:click">Annullér</app-button>
  <app-button slot="actions" name="save-button" variant="primary" onclickeventname="editcongregation:savebutton:click">Gem</app-button>
</app-modal>

