<app-modal name="edit-congregation" backdrop-close>
  <span slot="title">Redigér menighed</span>

  <app-form-field label="Menighedsnavn" required>
     <app-text
      id="congregation-official-name"
      placeholder="Bjergkøbing Opperbakke"
      maxlength="100"
    ></app-text>
  </app-form-field>

  <app-form-field label="Kaldenavn">
     <app-text
      id="congregation-nick-name"
      placeholder="Opperbakke"
      maxlength="100"
    ></app-text>
  </app-form-field>

  <app-form-field label="Adresse" required>
     <app-text
      id="congregation-address"
      placeholder="Tempovej 3, 1234 Bjergkøbing"
      maxlength="100"
    ></app-text>
  </app-form-field>

  <app-form-field label="Kreds" required>
    <app-rich-select id="congregation-circuit" placeholder="DKS13" no-result-text="Ingen resultater" placement="up">
      <option value="DKS01">DKS01</option>
      <option value="DKS02">DKS02</option>
      <option value="DKS03">DKS03</option>
      <option value="DKS04">DKS04</option>
    </app-rich-select>
  </app-form-field>

  <app-form-field label="Mødetidspunkt" required>
    <app-rich-select id="congregation-meeting-day" placeholder="Vælg ugedag" no-result-text="Ingen resultater" placement="up">
      <option value="6">Lørdag</option>
      <option value="7">Søndag</option>
    </app-rich-select>
    <time-picker id="congregation-meeting-time"  use-native="auto"></time-picker>
  </app-form-field>

  <app-button slot="actions" name="cancel-button" onclickeventname="editcongregation:modalcancelbutton:click">Annullér</app-button>
  <app-button slot="actions" name="save-button" variant="primary" onclickeventname="editcongregation:savebutton:click">Gem</app-button>
</app-modal>

