{{#> layout title='Speakersheet' }}
<app-card>
    <span slot="card-header-slot">Forts칝t p친 eksisterende foredragsholderliste</span>
    <span slot="card-content-slot">
        Upload den foredragsholderliste du modtog sidst du benyttede app'en her.<br />
        Tr칝k filen ind i omr친det her, eller klik p친 knappen her under. 
    </span>
</app-card>

<app-card>
    <span slot="card-header-slot">Start p친 nyt program</span>
    <span slot="card-content-slot">
        <p>
        P친begynd ny foredragsholderliste, men kun hvis du ikke har oprettet en i forvejen.
        </p>

        <app-link-button href="/new">
            <span slot="icon">游닇</span>
            Opret ny foredragsholderliste
        </app-link-button>
    </span>
</app-card>

{{/layout}}