{{#> layout title='Speakersheet' }}
<app-card>
    <span slot="card-header-slot">Send og forsæt program eller start på nyt</span>
    <span slot="card-content-slot">
        Uploadområde og Start på ny-link

        <app-link href="https://www.dr.dk" target="_blank">Klik det</app-link><br />
    </span>
</app-card>
{{/layout}}