{{#> layout title='Speakersheet' }}
<app-card>
    <span slot="card-header-slot">Send og forsæt program eller start på nyt</span>
    <span slot="card-content-slot">
        Uploadområde og Start på ny-link
    </span>
</app-card>
{{/layout}}