{{#> layout title='Speakersheet' }}
<app-card>
    <span slot="card-header-slot">Fortsæt på eksisterende foredragsholderliste</span>
    <span slot="card-content-slot">
        Upload den foredragsholderliste du modtog sidst du benyttede app'en her.<br />
        Træk filen ind i området her, eller klik på knappen her under. 
    </span>
</app-card>

<app-card>
    <span slot="card-header-slot">Start på nyt program</span>
    <span slot="card-content-slot">
        Påbegynd ny foredragsholderliste, men kun hvis du ikke har oprettet en i forvejen.
    </span>
</app-card>

{{/layout}}