<app-card>
  <span slot="card-header-slot">Forts칝t p친 eksisterende foredragsholderliste</span>
  <span slot="card-content-slot">
    <app-upload-area name="upload-existing" onfiledrop="handleFiles" onfiledropeventname="{{onUploadAreaFileDropEventName}}">
      <p>
        Upload den foredragsholderliste du modtog sidst du benyttede app'en her, for at redigere.
      </p>
      <p>
        Tr칝k filen ind i omr친det her, eller klik p친 knappen her under. 
      </p>

      <div class="card-center">
        <app-button variant="primary" aria-label="Upload din foredragsholderliste" onclick="alert('Uploader...')">
          <span slot="icon">游댢</span>
          Upload din foredragsholderliste
        </app-button>
      </div>
    </app-upload-area>
  </span>
</app-card>

<app-card>
  <span slot="card-header-slot">Start p친 nyt program</span>
  <span slot="card-content-slot">
    <p>
      P친begynd ny foredragsholderliste, men kun hvis du ikke har oprettet en i forvejen.
    </p>

    <div class="card-center">
      <app-link-button href="/create-speakersheet" spa onclickeventname="{{onNewPdfLinkClickEventName}}">
        <span slot="icon">游닇</span>
        Opret ny foredragsholderliste
      </app-link-button>
    </div>
  </span>
</app-card>
