<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/main.css" />
  <link rel="icon" href="gfx/favicon.ico" />
  <script src="/reload/reload.js"></script>
  <script type="module" src="/js/components.js"></script>
</head>
<body>
  <header>
    <app-logo></app-logo>
    {{!-- <img src="/assets/gfx/logo.png" alt="Logo" height="80" /> --}}
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <small>© SpeakerSheet 2025</small>
  </footer>
</body>
</html>