<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" href="gfx/favicon.ico" />
    <script src="/reload/reload.js"></script>
    <script type="module" src="/js/components.js"></script>
</head>

<body>
    <div class="page-layout">
        <header class="site-header">
            <div class="content">
                <h1>
                    <app-logo></app-logo>
                </h1>
            </div>
        </header>

        <main class="site-main">
            <div class="content">
                {{{body}}}
            </div>
        </main>

        <footer class="site-footer">
            <div class="content">
                <small>© SpeakerSheet 2025</small>
            </div>
        </footer>
    </div>
</body>

</html>