app-image::part(img) {
  display: block;
  width: 180px;
  display: block;
  filter: drop-shadow(2px 2px 6px #bbb);
  transition: transform 0.2s ease;
}

app-image::part(img):hover {
  transform: scale(1.05);
}