<div class="text-label-wrapper">
  <label class="text-label-label">{{label}}</label>
  <input type="text" class="text-label-input" placeholder="{{placeholder}}" />
  <div class="text-label-error" hidden>{{error}}</div>
</div>
